# =
# amy (Intel i3-2310M, 16GB RAM) - Environment Variables
# Version: 85
# =

# System
TIMEZONE=
PUID=
PGID=

# Network
AMY_HOST_IP=
TAILSCALE_DOMAIN=

#ROUTER_IP=

## Watchtower
#WATCHTOWER_NOTIFICATION_URL=

# Tailscale
TSDPROXY_AUTHKEY=

# PostgreSQL
POSTGRES_PASSWORD=

# Pi-hole
PIHOLE_PASSWORD=

# Miniflux
MINIFLUX_ADMIN_USERNAME=
MINIFLUX_ADMIN_PASSWORD=

# SpendSpentSpent (SSS)
SSS_SALT=

# Beszel agent
BESZEL_KEY=
BESZEL_TOKEN=

# Diun - Container update notifications
# v85: Added for ntfy notifications
DIUN_NTFY_TOPIC=

# =
# KEEPALIVED password - this needs to be the same on both machines
# =
KEEPALIVED_PASSWORD=
# to be reused --> K2tRVXiQYM8nQWy8wUi6xXJoN4KHfLf4
# =
# KEEPALIVED_VIP is the IP address that both pi-hole instances are going to be answering on
KEEPALIVED_VIP=
# =

# =
# 
# =
# =
